.button {
  font-size: $font-size-default;
  padding: 1rem 3.5rem;
  border-radius: 4em;
  outline: none;
  display: block;

  &:hover {
    transform: scale(1.1);
    transition: all .3s;
  }

  &--secondary-transparent {
    background: none;
    border: 1.5px solid $color-white;
    color: $color-white;

    &:hover {
      color: $color-primary;
      border: .15rem solid $color-primary;
    }
  }

  &--primary {
    background: $color-primary;
    border: none;
    color: $color-white;
    padding: 1rem 5.5rem;
  }

  &--terciary {
    border: none;
    background: $color-grey-light-2;
    color: $color-grey-dark;
    text-transform: capitalize;
  }

  &--primary-transparent {
    border: 1.5px solid $color-primary;
    color: $color-primary;
    background: none;
  }

  &__icon {
    border: none;
    border-radius: 1.5rem;
    padding: 1rem;

    &--hamburger {
      color: $color-primary;
      background: $color-white;
      border-radius: 2rem;
      font-size: 2.2rem;

      &:hover {
        color: $color-white;
        background: $color-primary;
      }
    }

    &--submit {
      color: $color-white;
      background: $color-primary;
      font-size: $font-size-small;

      &:hover {
        color: $color-primary;
        background: $color-white;
      }
    }

    &--back-top {
      color: $color-primary;
      background: $color-white;
      font-size: $font-size-small;

      &:hover {
        color: $color-white;
        background: $color-primary;
      }

      &.show {
        visibility: visible;
        opacity: 1;
      }

      &.hide {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
