.card {
  background-color: $color-white;
  font-size: $font-size-default;
  color: $color-black;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
  padding: 5rem;
  width: 20rem;

  &__image {
    padding: 2rem;
  }

  &__heading {
    font-family: $font-primary;
    font-weight: 700;
  }

  &__description {
    font-family: $font-secondary;
    margin-top: 1rem;
  }
}
