.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: $color-pink;
  border-radius: 10rem 10rem 0 0;
  padding: 8rem 0;
  margin-top: 12rem;

  &__wrapper {
    display: flex;
    margin-left: 6rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    @include media-breakpoint-up(laptop) {
      flex-direction: row;
      justify-content: flex-start;
      max-height: 50rem;
    }

    @include media-breakpoint-up(desktop) {
      margin-left: 13rem;
    }

    @include media-breakpoint-up(hdDesktop) {
      max-width: 120rem;
      margin: 0 auto;
    }
  }


  &__textbox {
    width: 35rem;
    margin-right: 6rem;

    @include media-breakpoint-up(phablet) {
      width: 53rem;
    }

    @include media-breakpoint-up(laptop) {
      width: 30rem;
    }

    @include media-breakpoint-up(desktop) {
      width: 38rem;
    }

    @include media-breakpoint-up(hdDesktop) {
      width: 50rem;
    }
  }

  &__heading {
    max-width: 30rem;
    margin-bottom: 2rem;
    font-family: $font-primary;
    font-size: $font-size-default;
    color: $color-black;
    line-height: 1.5;
  }

  &__description {
    font-size: $font-size-small;
    font-family: $font-secondary;
    color: $color-black;
    margin-bottom: 2rem;
    line-height: 1.8;
  }

  &__badges {
     margin-top: 7rem;

    @include media-breakpoint-up(laptop) {
      margin-top: 3rem;
    }
  }

  &__badges-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__badge {
    width: 15rem;
    margin: -4rem 2rem 0 0;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__menu-item {
    max-width: 16rem;
    margin-top: 4rem;
    margin-right: 3rem;

    @include media-breakpoint-up(laptop) {
      margin-top: 0;
    }

    &+& {
      @include media-breakpoint-up(laptop) {
        margin-left: 2rem;
      }

      @include media-breakpoint-up(desktop) {
        margin-left: 4rem;
        margin-top: 0;
      }
    }
  }

  &__list {
    line-height: 1.5;
  }

  &__list-item {
    font-size: $font-size-small;
    font-family: $font-secondary;
    line-height: 1.8;

    &:hover {
      color: $color-primary;
      transform: scale(1.1);
      transition: all .2s;
    }
  }

  &__copyright {
    font-size: $font-size-small;
    font-family: $font-secondary;
    color: $color-grey-dark;
    text-align: center;
    margin-top: 1rem;
  }
}
