.main {
  position: relative;

  // &::before {
  //   content: '';
  //   background: url('./../../images/bgshape-right.svg');
  //   position: absolute;
  //   right: -50rem;
  //   top: 50rem;
  //   width: 98rem;
  //   height: 105rem;
  // }

  // &::after {
  //   content: '';
  //   background: url('./../../images/bgshape-left.svg');
  //   position: absolute;
  //   left: -70rem;
  //   bottom: 20rem;
  //   width: 98rem;
  //   height: 98rem;
  // }
}

.top-button {
  position: fixed;
  right: 10rem;
  bottom: 10rem;
}
