.newsletter {
  display: flex;
  flex-direction: column;
  background: $color-pink;
  border-radius: 4rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(landscapePhone) {
    max-width: 47rem;
  }

  @include media-breakpoint-up(portaitTablet) {
    max-width: 59rem;
  }

  @include media-breakpoint-up(landscapeTablet) {
    flex-direction: row;
    max-width: 80rem;
  }

  @include media-breakpoint-up(laptop) {
    max-width: 100rem;
  }

  &::before {
    content: '';
    background: url('./../../images/bgshape-subscribe.svg');
    position: absolute;
    width: 65rem;
    height: 69rem;
    background-size: contain;
    left: -40rem;
    bottom: -20rem;

    @include media-breakpoint-up(landscapePhone) {
      left: -23rem;
      bottom: -17rem;
    }

    @include media-breakpoint-up(portraitTablet) {
      width: 75rem;
      height: 79rem;
      left: -23rem;
      bottom: -22rem;
    }

    @include media-breakpoint-up(laptop) {
      width: 96rem;
      height: 100rem;
      left: -36rem;
      bottom: -30rem;
    }
  }

  &__textbox {
    padding: 2rem;
    z-index: 2;
    order: 2;

    @include media-breakpoint-up(landscapeTablet) {
      order: 1;
      max-width: 40rem;
      padding-top: 9rem;
    }

    @include media-breakpoint-up(laptop) {
      max-width: 65rem;
      margin: 3rem;
    }
  }

  &__heading {
    font-family: $font-primary;
    font-size: $font-size-medium;
    text-transform: capitalize;
    color: $color-black;
    margin: 0 auto;
    text-align: center;
    max-width: 22rem;

    @include media-breakpoint-up(landscapeTablet) {
      text-align: left;
      max-width: 50rem;
    }
  }

  &__description {
    font-size: $font-size-small;
    text-align: center;
    max-width: 32rem;
    margin: 4rem auto;

    @include media-breakpoint-up(landscapeTablet) {
      text-align: left;
      max-width: 50rem;
    }
  }

  &__sign-form {
    position: relative;
    width: 28rem;
    margin: 3rem auto;

    @include media-breakpoint-up(landscapePhone) {
      width: 42rem;
    }

    @include media-breakpoint-up(landscapeTablet) {
      margin: 3rem 0;
    }
  }

  &__input {
    width: 100%;
    padding: 2.5rem 5.5rem;
    border: none;
    border-radius: 1.5rem;
    outline: none;
    position: relative;
    margin: 0 auto;
  }

  &__email-icon {
    font-size: 2.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: $color-grey-dark;
  }

  &__submit-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__image {
    width: 45rem;
    margin: 6rem auto;
    order: 1;
    z-index: 2;

    @include media-breakpoint-up(landscapeTablet) {
      width: 30rem;
      //margin: 6rem 2rem;
    }

    @include media-breakpoint-up(laptop) {
      width: 45rem;
      margin-right: 4rem;
    }
  }
}
